* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}


.container {
  max-width: 1400px;
  margin: 0 auto;
}

ul {
  list-style: none;
  display: flex;
}

li{
  margin-right: 25px;
}

.navbar li a{
  text-decoration: none;
  color: black;
  padding: 60px 0;
}

.navbar li a:hover {
  color: rgb(46, 46, 236);
  border-bottom: 5px solid blue;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 15px;
  padding: 20px 0;
}

.big-container{
  background-color: rgb(36, 36, 36);
}

.big-container-img{
  background-color: rgb(52, 126, 236);
}

.content-goes-here {
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 40px 0;
}

.img-list{
  color: white;
}

.img-list img{
  height: 40%;
  margin-right: 10px;
}

.img-list li{
  font-weight: 400;
  font-size: small;
  width: 20%;
}

.img-list li {
  display: flex;
  align-items: center;
}